body {
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-decoration: underline;

    background-color: rgb(175, 173, 173);
}